.workexperience{
    min-width: 200px;
    background-color: #6c696978;
    border-radius: 25px;
    padding: 8px;
    padding-left: 15px;
    min-height: 100px;
}

.role{
    font-size: 22px;
    font-family: "Garamond", Times, serif;
    margin-bottom: 6px;
}

.company{
    font-size: 15px;
    font-family: "Garamond", Times, serif;
    margin-bottom: 6px;
}